.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal>.ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal>.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal>.ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    border-radius: 5%;
    background: $background;
    min-width: 20rem;
    max-width: 30rem;
    outline: none;
    padding: $large;
    text-align: center;
}

.modal__title {
    margin: 0 0 $med 0;
    color: $brand;
}

.modal__body {
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 $large 0;
    word-break: break-all;
}